body {
  box-sizing: border-box;
}

form {
  display: flex;
  justify-content: center;
}

.allusers {
	flex: 1;
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
}

.oneuser {
	width: 100;
	height: 100;
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	align-items: center;
  	margin: 5px;
  	padding: 5px;
}